@import '../../scss/variables';

.search_wrapper {
    display: flex;
    width: 100%;
    height: 60px;

    .selectOptions {
        :global {
            .ant-select-selector {
                height: 60px;
                width: 190px;
                align-items: center;
                padding-left: 15px;
            }
        }
    }
    .input_search {
        height: 60px;
        width: 190px;
        margin: auto;
        padding-left: 15px;
        color: $fontColor;
        text-transform: capitalize;
        cursor: pointer;
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }

    .switcher {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: $white;
        border-radius: 50px;
        height: 26px;
        width: 26px;
        position: absolute;
        margin-left: 175px;
        margin-top: 15px;
        z-index: 999;
        box-shadow: $boxShadow;
        cursor: pointer;

        .arrows {
            width: 14px;
            height: 8px;
        }
    }

    .dataIcon {
        color: $primaryColor;
        width: 20px;
        height: 20px;
    }
}
