// color scheme
$fontColor: #4a4a4a;
$backgroundColor: #e5e5e5;
$primaryColor: #2196f3;
$secondaryColor: #a0b0b9;
$effectColor: #f1fcff;
$boxShadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

// fonts
$font: 'Open Sans';
